* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  margin-top: 90px; /* Ajusta según la altura de tu navbar */
}

/* Estilos adicionales si es necesario */
body {
  padding-top: 0; 
}
:root {
  --color-txt-1: #000000;
  --color-txt-2: #564f4d;
  --color-1: #00e1ff;
  --color-2: #f9ff00;
  --color-3: #ff4800;
}
.tex-titulo {
  font-family: "Caveat Brush", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-txt-1);
}
.tex-parrafo {
  font-family: "Roboto", sans-serif;
   font-weight: 400;
  font-style: small;
  color: var(--color-txt-2);
}
.mt-main {
  margin-top: 86px;
}
/* Navbar */
.navbar-logo {
  height: 60px;
}
.navbar.bg-dark {
  background-color: black !important;
}
.navbar-dark .nav-link {
  color: white !important; 
  text-decoration: none; 
  transition: color 0.3s ease;
}
.navbar-dark .nav-link:hover {
  color: #FFF800 !important;
}
.navbar-dark .nav-link.active {
  color: #FFF800 !important;  
}
/* Acerca de Nosotros */
.body-background {
  background-image: url('../img/contacto-background4.jpg'); 
  background-size: cover; 
  background-position: center;
  min-height: 100vh;
}
.card-nosotros {
  background-color: transparent;
  border: none;
  img {
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(0.95);
    }
  }
}
.card .btn {
  display: inline-block;
  margin: 10px auto; 
}
.btn {
  border: 0px;
  background-color: #00e1ff;
  color: #3d3b3a;
  &:hover {
    border: 0px;
    background-color: #ff4800;
    color: white;
  }
}
.full-width-section {
  position: relative; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px; 
  box-sizing: border-box; 
  text-align: center; 
}
.text-content {
  color: #FFF800; 
  font-size: 1.2rem; 
  margin: 0; 
}
/* Inicio Sesión */
.icono {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.bg-inicio-sesion {
  background-image: url(../img/login/fondo-inicio-sesion.webp);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Galería */
.bg-galeria {
   background-image: url('../img/galeria/lufy3.jpg');
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.galeria {
  img {
    border: 3px solid var(--color-1);
     transition: transform 0.6s ease;
     height: 300px;
     width: auto;
     box-shadow: 5px 5px 15px 0 black;
     object-fit: cover;
  }  
  img:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 3px solid var(--color-2);
  }
}
/* Contacto */
.text-light-blue {
  color: #00E1FF; 
}
.text-light-blue:hover {
  color: #5bc0eb; 
  transition: color 0.3s ease; 
}
.contacto-background {
  background-image: url('../img/contacto-background4.webp'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh; 
  margin: 0;
  padding-top: 200px;
}
.contact-section {
  margin-bottom: 20px; 
}
.bg-light-opacity {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px); 
  padding: 15px; 
}
/* Footer */
.footer {
  background-color: #000 !important; 
}
.footer .row {
  background-color: #000 !important;
}
.footer .footer-link {
  color: white; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}
.footer .footer-link:hover {
  color: #FFF800; 
}
.footer .logo {
  transition: transform 0.3s ease, opacity 0.3s ease; 
}
.footer .logo:hover {
  transform: scale(0.9); 
  opacity: 0.9; 
}
.social-icons {
  text-align: center;
}
.social-link {
  color: white; 
  font-size: 1.5rem; 
  transition: color 0.3s ease; 
  text-decoration: none; 
}
.social-link:hover {
  color: #ff4800;
}
.footer-copy {
  background-color: #333 !important; 
  color: white;
  padding: 10px 0;
  font-size: 0.9rem;
}
.footer .col-md-4.text-md-end {
  padding-right: 1.5rem; 
  color: white; 
}
@media (max-width: 576px) { 
  .carousel-inner img {
    max-height: 300px; 
    object-fit: contain; 
  }
}
@media (max-width: 576px) {
  .card {
    transform: scale(0.9); 
    margin: 0 auto; 
  }
}
  @media (max-width: 300px) { 
    .card-img-top {
      max-height: 200px; 
      object-fit: cover;
    }
  }
@media (max-width: 767px) {
  .form-section {
    margin-bottom: 30px; 
  }
    .galeria img { 
    width: 200px;
    height: auto;
    margin: 10px auto;
  }
}

.zoom-hover {
  transition: transform 0.3s ease;
}

.zoom-hover:hover {
  transform: scale(1.3); 
}

.blog-background {

  background-color: #000;
}

.most-viewed-list {
  text-align: center; 
  list-style-type: none; 
  padding-left: 0; 

}

.most-viewed-list li {
  display: inline-block; 
  margin: 5px; 
  color: #5bc0eb;
  
}
.most-viewed-list li:hover {
  display: inline-block; 
  margin: 5px; 
  color: #FFF800;
  
}

.titulo-entrada {
text-align:center;
text-align: center; /* Centra el contenido dentro del contenedor */
list-style-type: none; /* Elimina los puntos de la lista */
padding-left: 0

}

.most-viewed-list a {
  text-decoration: none;
}

.blog-titulo {
  color: white;
}

.entrada-descripcion {
  color: white;
}

.color-titulo {

  color: white;
}